extends layout

block content
  h1= title
  img(src=brand.brandImage, alt=title + " brand logo")
  p= brand.desc
    hr
    p These are the products we have listed for #{title}: 
    ul
    each tent in tent_list
        li 
            a(href=tent.url) #{tent.name}

    else
        li There are no items in the system by this brand.
  hr
  p 
    a(href=brand.url+'/delete') Delete brand
  p 
    a(href=brand.url+'/update') Update brand
