extends layout

block content
    h1 #{title} #{category.name}

    if category_items.length
        p #[strong The following items have only this category associated, please add a different category to each item before deleting this category:]

        dl
        each item in category_items
            dt
                a(href=item.url) #{item.name}
            dd #{item.desc}  

    else 
      p Do you really want to delete this category?
      form(method='POST' action='')
        div.form-group            
          input#categoryid.form-control(type='hidden', name='categoryid', required='true', value=category._id)
        button.btn.btn-primary(type='submit') Delete   

 
         